<!--
 * @Author: stephenHe
 * @Date: 2024-12-04 20:12:29
 * @LastEditors: stephenHe
 * @LastEditTime: 2024-12-19 22:24:42
 * @Description:  footer
 * @FilePath: /weibo-koa/src/views/layout/footer.ejs
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.0/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/query-object.js"></script>
</body>
</html>